/*------------------------------------
              FONTS
font-family: 'Roboto', sans-serif; - titles
font-family: 'Lato', sans-serif; - body
              COLORS
purple color: #9f5cdb
--------------------------------------*/
/*
.header {
  padding: 60px;
  text-align: center;
  background: #9f5cdb;
  color: white;
  font-size: 200px;
}*/

/*------------------------------------
        ABOUT FILE STYLES
--------------------------------------*/
#about-heading h1 {
  font-size: 400%;
}

#about-heading p {
  font-size: 150%;
}

#about {
  height: 100%;
}

#about-cover {
  height: 100%;
  background-image:
	  linear-gradient(to right bottom,
     rgba(144, 114, 210, 0.7),
     rgba(245, 235, 255, 0.7)),
    url("../img/girls.jpg");
  /*opacity: 0.8;
  filter: alpha(opacity=80);
  144, 114, 210
  157, 146, 236,*/

}

#about-content-box {
  width: 100%;
  height: 100%;
  display: table;
}

#about-content-box-inner {
  display: table-cell;
  vertical-align: middle;
  /*text-align: center;*/
}

#about-heading {
  color: #fff;
  margin: 20px 0 20px 0;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

/*ANIMATION FOR ABOUT HEADER*/
#about-cover, #about-heading {
  animation-duration: .5s;
}
#about-cover {
  animation-delay: .1s;
}

#about-heading {
  animation-delay: .5s;
}

#about-renata .fab,
#about-joanna .fab {
  display: inline-block;
}

#about-renata .fab:hover,
#about-joanna .fab:hover {
  color: #f781f9;
}

#about-renata img {
  max-width: 300px;
  margin-top: 80px;
}

#about-joanna img {
  max-width: 300px;
}

/*PARTNERS home */
#projects-cover {
  height: 100%;
  background-image:
	  linear-gradient(to right bottom,
     rgba(144, 114, 210, 0.7),
     rgba(245, 235, 255, 0.7)),
    url("../img/success_job_hunt2.png");
  /*opacity: 0.8;
  filter: alpha(opacity=80);
  144, 114, 210
  157, 146, 236,*/

}

/* FAQs home*/
#faqs-cover {
  height: 100%;
  background-image:
	  linear-gradient(to right bottom,
     rgba(144, 114, 210, 0.7),
     rgba(245, 235, 255, 0.7)),
    url("../img/period-products.jpg");
  /*opacity: 0.8;
  filter: alpha(opacity=80);
  144, 114, 210
  157, 146, 236,*/

}
